html {
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif!important;
  box-sizing: border-box;

}

body  {  
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif!important;
  box-sizing: border-box;
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/389921374355002432/34038CD913279FF9BBA2A218CBBFE747A533ED3B/');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
 }


.navbarContainer{
  background-color: black;
  display: flex;
  list-style:none;
  flex-wrap: nowrap;
  height:8vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

a{
  color:white;
  text-decoration: none;
  flex-grow: 1;
}
#titleContainer a{
  color:cornflowerblue;
}
#titleContainer a:hover{
  color:darkblue;
}

p{
  color: blueviolet;
  padding: 3em;
  text-align: center;
  background-color: black;
}

.menu{
  height: 500px;
  width: 500px;
  position: center;
  margin-top: 100px;
  margin-left: 400px;
}


ol, ul {
  padding-left: 30px;
}

.board {
  display: table;
    border-collapse: separate;
    border-color: grey;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
    background-color: seagreen;

}

.boardCorner {
  background: seagreen;
  padding: 0 1rem 0 1rem;
}

.inline {
  display:inline !important;
}
.status {
  margin-bottom: 10px;
}

.yellow {
  background: linear-gradient(to bottom, rgb(255, 196, 0) 0%,#fce328 100%) !important;
}
.red {
  background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%) !important;
}
.square {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    margin: 1px;
    background: #b0ebff;
    display:inline;
    margin:0.5rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}