html {
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif!important;
  box-sizing: border-box;

}

body  {  
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif!important;
  box-sizing: border-box;
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/389921374355002432/34038CD913279FF9BBA2A218CBBFE747A533ED3B/');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
 }


.navbarContainer{
  background-color: black;
  display: flex;
  list-style:none;
  flex-wrap: nowrap;
  height:8vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

a{
  color:white;
  text-decoration: none;
  flex-grow: 1;
}
#titleContainer a{
  color:cornflowerblue;
}
#titleContainer a:hover{
  color:darkblue;
}
