html, body{
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif!important;
  box-sizing: border-box;
}

.navbarContainer{
  background-color: cornflowerblue;
  display: flex;
  list-style:none;
  flex-wrap: nowrap;
  height:18vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}


a{
  color:white;
  text-decoration: none;
  flex-grow: 1;
}
#titleContainer a{
  color:cornflowerblue;
}
#titleContainer a:hover{
  color:darkblue;
}
